.moe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;

  &.show {
    opacity: 0.6;
  }

  &.hide {
    opacity: 0;
  }
}