page {
  background-color: #f1f1f1;
}

.scroll-view-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  & > view {
    padding-bottom: 30px;
    border-bottom: 3px solid gray;
  }
}
