.moe-picker-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  transition: background-color 0.3s ease;
  pointer-events: none;

  &.show {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
  }

  &.hide {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
  }

  &-container {
    background-color: white;
    width: 100%;
    min-height: 100rpx;
    padding: 30rpx 0 60rpx 0;
    border-top-left-radius: 50rpx;
    border-top-right-radius: 50rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40rpx;
    transform: translateY(100%);
    transition: transform 0.3s ease;

    &.slide-up {
      transform: translateY(0);
    }

    &.slide-down {
      transform: translateY(100%);
    }

    .confirm-button {
      width: 91%;
      height: 80rpx;
      border-radius: 40rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 32rpx;
      font-weight: 500;
      transition: all 0.3s ease;

      &.btn-disabled {
        color: #999;
        background-color: #e5e5e5;
      }

      &.btn-active {
        color: white;
        background-color: #FFC234;
      }
    }

    // 列表部分
    .category-list {
      width: 91%;
      display: grid;
      gap: 20rpx;

      .category-item {
        height: 77rpx;
        border: 1px solid #ccc;
        border-radius: 141rpx;
        text-align: center;
        font-size: 32rpx;
        line-height: 77rpx;
        transition: all 0.2s ease;

        &:active {
          transform: scale(0.95);
        }
      }

      .category-item-selected {
        background-color: #fdf5e2;
        border-color: #fdd57a;
        color: #fdd57a;
      }
    }

    // 标题部分
    .moe-picker-title {
      font-size: 35rpx;
    }
  }
}