.moe-picker-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  transition: background-color 0.3s ease;
  pointer-events: none;

  &.show {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
  }

  &.hide {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
  }

  &-container {
    background-color: white;
    width: 100%;
    min-height: 100px;
    padding: 30px 0 60px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    transform: translateY(100%);
    transition: transform 0.3s ease;

    &.slide-up {
      transform: translateY(0);
    }

    &.slide-down {
      transform: translateY(100%);
    }

    .confirm-button {
      width: 91%;
      height: 80px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-size: 32px;
      font-weight: 500;
      transition: all 0.3s ease;

      &.btn-disabled {
        color: #999;
        background-color: #e5e5e5;
      }

      &.btn-active {
        color: white;
        background-color: #FFC234;
      }
    }

    // 滚动部分
    .scroll-part {
      width: 100%;
      max-height: 40vh;
      display: flex;
      justify-content: center;

      // 列表部分
      .category-list {
        display: grid;
        gap: 20px;
        margin: 0 20px;

        .category-item {
          height: 77px;
          border: 1px solid #ccc;
          border-radius: 141px;
          text-align: center;
          font-size: 32px;
          line-height: 77px;
          transition: all 0.2s ease;

          &:active {
            transform: scale(0.95);
          }
        }

        .category-item-selected {
          background-color: #fdf5e2;
          border-color: #fdd57a;
          color: #fdd57a;
        }
      }

      // NOTE 滚动条相关部分
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    // 标题部分
    .moe-picker-title {
      font-size: 35px;
    }
  }
}