.moe-button-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  will-change: transform;
  transform-origin: center;
  box-sizing: border-box;

  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }
}

// 按钮禁用的样式
.moe-button-disabled {
  pointer-events: none;
  filter: opacity(0.6);
  background-color: white;
}

// 按钮的多种大小样式
.moe-button-size {
  &-large {
    border-radius: 15rpx;
    padding: 25rpx 30rpx;
    font-size: 35rpx;
  }

  &-medium {
    border-radius: 14rpx;
    padding: 25rpx 30rpx;
    font-size: 30rpx;
  }

  &-small {
    border-radius: 12rpx;
    padding: 20rpx 30rpx;
    font-size: 25rpx;
  }

  &-mini {
    border-radius: 10rpx;
    padding: 15rpx 25rpx;
    font-size: 20rpx;
  }
}

// 按钮的颜色部分
.moe-button-color {
  &-primary {
    background-color: #1989FA;
    color: #FFFFFF;
    border: 2rpx #1989FA solid;
  }

  &-info {
    background-color: #2DB7F5;
    color: #FFFFFF;
    border: 2rpx #2DB7F5 solid;
  }

  &-success {
    background-color: #07C160;
    color: #FFFFFF;
    border: 2rpx #07C160 solid;
  }

  &-warning {
    background-color: #E6A23C;
    color: #FFFFFF;
    border: 2rpx #E6A23C solid;
  }

  &-danger {
    background-color: #EE0A24;
    color: #FFFFFF;
    border: 2rpx #EE0A24 solid;
  }

  &-default {
    background-color: #FFFFFF;
    color: black;
    border: #DCDEE0 solid 2rpx;
  }
}

// 按钮的圆角部分
.moe-button-rounded {
  &-large {
    border-radius: 85rpx;
  }

  &-medium {
    border-radius: 80rpx;
  }

  &-small {
    border-radius: 65rpx;
  }

  &-mini {
    border-radius: 50rpx;
  }
}

// 按钮的各种类型部分
.moe-button-variant {
  &-outlined {
    &-primary {
      color: #1989FA;
      background-color: transparent;
    }

    &-info {
      color: #2DB7F5;
      background-color: transparent;
    }

    &-success {
      color: #07C160;
      background-color: transparent;
    }

    &-warning {
      color: #E6A23C;
      background-color: transparent;
    }

    &-danger {
      color: #EE0A24;
      background-color: transparent;
    }

    &-default {
      color: black;
      background-color: transparent;
    }
  }

  &-text {
    &-primary {
      color: #1989FA;
      background-color: transparent;
      border: none;
    }

    &-info {
      color: #2DB7F5;
      background-color: transparent;
      border: none;
    }

    &-success {
      color: #07C160;
      background-color: transparent;
      border: none;
    }

    &-warning {
      color: #E6A23C;
      background-color: transparent;
      border: none;
    }

    &-danger {
      color: #EE0A24;
      background-color: transparent;
      border: none;
    }

    &-default {
      color: black;
      background-color: transparent;
      border: none;
    }
  }
}