@use "../styles";

.moe-button-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  will-change: transform;
  transform-origin: center;
  box-sizing: border-box;

  &:active {
    transform: scale(0.95);
    filter: brightness(0.9);
  }
}

// 按钮禁用的样式
.moe-button-disabled {
  pointer-events: none;
  filter: opacity(0.6);
  background-color: white;
}

// 按钮的多种大小样式
.moe-button-size {
  &-large {
    border-radius: 15px;
    padding: 25px 30px;
    font-size: 35px;
  }

  &-medium {
    border-radius: 14px;
    padding: 25px 30px;
    font-size: 30px;
  }

  &-small {
    border-radius: 12px;
    padding: 20px 30px;
    font-size: 25px;
  }

  &-mini {
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 20px;
  }
}

// 按钮的颜色部分
.moe-button-color {
  &-primary {
    background-color: styles.$moe-color-primary;
    color: #FFFFFF;
    border: 2px styles.$moe-color-primary solid;
  }

  &-info {
    background-color: styles.$moe-color-info;
    color: #FFFFFF;
    border: 2px styles.$moe-color-info solid;
  }

  &-success {
    background-color: styles.$moe-color-success;
    color: #FFFFFF;
    border: 2px styles.$moe-color-success solid;
  }

  &-warning {
    background-color: styles.$moe-color-warning;
    color: #FFFFFF;
    border: 2px styles.$moe-color-warning solid;
  }

  &-danger {
    background-color: styles.$moe-color-danger;
    color: #FFFFFF;
    border: 2px styles.$moe-color-danger solid;
  }

  &-default {
    background-color: #FFFFFF;
    color: black;
    border: #DCDEE0 solid 2px;
  }
}

// 按钮的圆角部分
.moe-button-rounded {
  &-large {
    border-radius: 85px;
  }

  &-medium {
    border-radius: 80px;
  }

  &-small {
    border-radius: 65px;
  }

  &-mini {
    border-radius: 50px;
  }
}

// 按钮的各种类型部分
.moe-button-variant {
  &-outlined {
    &-primary {
      color: styles.$moe-color-primary;
      background-color: transparent;
    }

    &-info {
      color: styles.$moe-color-info;
      background-color: transparent;
    }

    &-success {
      color: styles.$moe-color-success;
      background-color: transparent;
    }

    &-warning {
      color: styles.$moe-color-warning;
      background-color: transparent;
    }

    &-danger {
      color: styles.$moe-color-danger;
      background-color: transparent;
    }

    &-default {
      color: black;
      background-color: transparent;
    }
  }

  &-text {
    &-primary {
      color: styles.$moe-color-primary;
      background-color: transparent;
      border: none;
    }

    &-info {
      color: styles.$moe-color-info;
      background-color: transparent;
      border: none;
    }

    &-success {
      color: styles.$moe-color-success;
      background-color: transparent;
      border: none;
    }

    &-warning {
      color: styles.$moe-color-warning;
      background-color: transparent;
      border: none;
    }

    &-danger {
      color: styles.$moe-color-danger;
      background-color: transparent;
      border: none;
    }

    &-default {
      color: black;
      background-color: transparent;
      border: none;
    }
  }
}