.moe-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

  &-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .back-icon {
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
    }

    .right-icon {
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
