.moe-switch-container {
  position: relative;
  width: calc(var(--button-size) * 2 + 10px);
  height: var(--container-height);
  border-radius: calc(var(--container-height) / 2);
  background-color: #E2E3E7;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  // 激活背景颜色
  &.active {
    background-color: var(--active-background-color);
  }

  // 禁用状态
  &.disabled {
    opacity: 0.8;
  }

  &-button {
    position: absolute;
    background-color: #FFFFFF;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 50%;
    margin: 0 calc((var(--container-height) - var(--button-size)) / 2);
    transition: all 0.3s ease;
    transform: translateX(0);
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      // NOTE 计算方式: 容器宽度 - 圆形按钮宽度 - 两边margin
      transform: translateX(calc(calc(var(--button-size) * 2 + 10px) - var(--button-size) - calc(calc((var(--container-height) - var(--button-size)) / 2) * 2)));
    }
  }
}