.common-shared-tag-lc {
  height: 44rpx;
  border-radius: 112rpx;
  border: solid 2rpx #FFFFFF;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 13rpx;
  gap: 8rpx;

  // 图标
  .img-icon {
    width: 30rpx;
    height: 30rpx;
  }

  // 优化文本对齐和抗锯齿
  .label {
    font-family: 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24rpx;
    line-height: 24rpx;
    padding-bottom: 0.1em;

    // 抗锯齿优化
    text-rendering: optimizeLegibility;
  }
}
