@use "../styles";

.common-shared-tag-lc {
  color: #FFFFFF;
  box-sizing: border-box;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  // NOTE 配置颜色主题
  &.color-set {
    &-default {
      background-color: styles.$moe-color-default;
      border: styles.$moe-color-default solid 2px;
    }

    &-primary {
      background-color: styles.$moe-color-primary;
      border: styles.$moe-color-primary solid 2px;
    }

    &-info {
      background-color: styles.$moe-color-info;
      border: styles.$moe-color-info solid 2px;
    }

    &-success {
      background-color: styles.$moe-color-success;
      border: styles.$moe-color-success solid 2px;
    }

    &-warning {
      background-color: styles.$moe-color-warning;
      border: styles.$moe-color-warning solid 2px;
    }

    &-danger {
      background-color: styles.$moe-color-danger;
      border: styles.$moe-color-danger solid 2px;
    }
  }

  // NOTE 配置样式主题
  &.variant-set {
    &-outlined {
      background-color: transparent;

      &-default {
        color: styles.$moe-color-default;
      }

      &-primary {
        color: styles.$moe-color-primary;
      }

      &-info {
        color: styles.$moe-color-info;
      }

      &-success {
        color: styles.$moe-color-success;
      }

      &-warning {
        color: styles.$moe-color-warning;
      }

      &-danger {
        color: styles.$moe-color-danger;
      }
    }
  }

  // NOTE 配置大小
  &.size-set {
    &-default {
      padding: 6px 13px;
      border-radius: 19.5px;

      .label {
        font-size: 27px;
        line-height: 27px;
      }
    }

    &-medium {
      padding: 7px 14px;
      border-radius: 22px;

      .label {
        font-size: 30px;
        line-height: 30px;
      }
    }

    &-large {
      padding: 10px 15px;
      border-radius: 26.5px;

      .label {
        font-size: 33px;
        line-height: 33px;
      }
    }
  }

  // NOTE 配置形状
  &.shape-set {
    &-square {
      border-radius: 10px;
    }

    &-roundedRight {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-roundedLeft {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // 图标
  .img-icon {
    &-default {
      width: 30px;
      height: 30px;
    }

    &-medium {
      width: 33px;
      height: 33px;
    }

    &-large {
      width: 35px;
      height: 35px;
    }
  }

  // 优化文本对齐和抗锯齿
  .label {
    font-family: 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

    // 抗锯齿优化
    text-rendering: optimizeLegibility;
  }
}
