.moe-typography-title {
  // 提供通用属性
  font-weight: bolder;
  vertical-align: middle;
  margin: 15px 0;

  &.h1 {
    font-size: 64px;
    line-height: 64px;
  }

  &.h2 {
    font-size: 48px;
    line-height: 48px;
  }

  &.h3 {
    font-size: 37.44px;
    line-height: 37.44px;
  }

  &.h4 {
    font-size: 32px;
    line-height: 32px;
  }

  &.h5 {
    font-size: 26.56px;
    line-height: 26.56px;
  }

  &.h6 {
    font-size: 24px;
    line-height: 24px;
  }
}