.moe-cell-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 30px;
  background-color: #FFFFFF;

  & + .moe-cell-container {
    border-top: 1px solid #eee;
  }

  &-left-part {
    display: flex;
    gap: 12px;
    align-items: center;

    &-icon {
      width: 30px;
      height: 30px;
      margin-bottom: -2%;
    }

    &-title {
      font-size: 30px;
      line-height: 30px;
      color: #323233;
      font-weight: normal;
    }
  }

  &-content {
    gap: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 60%;
    color: #A0A1A3;
    font-size: 30px;
    line-height: 30px;

    &-cell-arrow {
      width: 32px;
      height: 32px;
      color: #A0A1A3;
      transform: scale(1.2);
    }
  }
}

.moe-cell-container-clickable {
  &:active {
    filter: brightness(0.9);
  }
}