.moe-cell-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23rpx 30rpx;
  background-color: #FFFFFF;

  & + .moe-cell-container {
    border-top: 1px solid #eee;
  }

  &-left-part {
    display: flex;
    gap: 12rpx;
    align-items: center;

    &-icon {
      width: 32rpx;
      height: 32rpx;
      margin-bottom: -2%;
    }

    &-title {
      font-size: 32rpx;
      line-height: 32rpx;
      color: #323233;
      font-weight: 500;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 8rpx;

    &-cell-text {
      font-size: 30rpx;
      line-height: 30rpx;
      color: #9FA0A2;
      text-align: right;
    }

    &-cell-arrow {
      width: 32rpx;
      height: 32rpx;
      color: #ccc;
      transform: scale(1.2);
      margin-bottom: -2%;
    }
  }
}

.moe-cell-container-clickable {
  &:active {
    filter: brightness(0.9);
  }
}