.taroify-popup {
  .popup-container {
    background-color: white;
    padding: 20rpx 20rpx 35rpx 20rpx;

    .popup-header {
      text-align: center;
      font-size: 36rpx;
      margin-bottom: 32rpx;
      margin-top: 32rpx;
    }

    .category-list {
      display: grid;
      gap: 20rpx;
      margin-bottom: 50rpx;

      .category-item {
        height: 77rpx;
        border: 1px solid #ccc;
        border-radius: 141rpx;
        text-align: center;
        cursor: pointer;
        // 字体设置部分
        font-size: 32rpx;
        line-height: 77rpx;
        transition: all 0.1s linear;
      }

      .category-item-selected {
        background-color: #fdf5e2;
        border-color: #fdd57a;
        color: #fdd57a;
      }
    }

    .confirm-button {
      height: 78rpx;
      line-height: 78rpx;
      font-size: 30rpx;
      border-radius: 64rpx;
      text-align: center;
      cursor: pointer;
      color: #131415;
      font-weight: bolder;
      transition: all 0.1s linear;
    }
  }
}
